//-----------------------------------------------------------
// LAYOUT
//-----------------------------------------------------------
//-----------------------------------------------------------
// LAYOUT
//-----------------------------------------------------------
//----------------------
// Flex (Columns px)
//----------------------
.l_f\: {
	@each $size in $flex {
		&#{$size} { flex: 0 0 #{$size}px; max-width: #{$size}px; }
		&#{$size}\[s\] { flex: 1 1 #{$size}px; width: #{$size}px; }
		&#{$size}\[-30\] { flex: 0 0 calc(#{$size} - 30px); max-width: calc(#{$size} - 30px);  }
		&#{$size}\[s\]\[-30\] { flex: 1 1 calc(#{$size} - 30px); width: calc(#{$size} - 30px);  }
	}
}

// breakpoints for flex.
@each $keyword, $size in $bp {
	@include mq($size) {
		.\{#{$keyword}\}l_f\: {
			@each $size in $flex {
				&#{$size} { flex: 0 0 #{$size}px; max-width: #{$size}px; }
				&#{$size}\[s\] { flex: 1 1 #{$size}px; width: #{$size}px; }
				&#{$size}\[-30\] { flex: 0 0 calc(#{$size} - 30px); max-width: calc(#{$size} - 30px);  }
				&#{$size}\[s\]\[-30\] { flex: 1 1 calc(#{$size} - 30px); width: calc(#{$size} - 30px);  }
			}
		}
	}
}


//----------------------
// Flex (Columns %)
//----------------------
.l_f\: {
	@each $keyword, $size in $cols {
		&#{$keyword} { flex: 0 0 #{$size}; max-width: #{$size}; }
		&#{$keyword}\[s\] { flex: 1 1 #{$size}; width: #{$size}; }
		&#{$keyword}\[-30\] { flex: 0 0 calc(#{$size} - 30px); max-width: calc(#{$size} - 30px);  }
		&#{$keyword}\[s\]\[-30\] { flex: 1 1 calc(#{$size} - 30px); width: calc(#{$size} - 30px);  }
	}

	&auto { flex: 0 0 auto; max-width: none; width: auto;  }
}


// breakpoints for flex.
@each $keyword, $size in $bp {
	@include mq($size) {
		.\{#{$keyword}\}l_f\: {
			@each $keyword, $size in $cols {
				&#{$keyword} { flex: 0 0 #{$size}; max-width: #{$size}; }
				&#{$keyword}\[s\] { flex: 1 1 #{$size}; width: #{$size}; }
				&#{$keyword}\[-30\] { flex: 0 0 calc(#{$size} - 30px); max-width: calc(#{$size} - 30px); }
				&#{$keyword}\[s\]\[-30\] { flex: 1 1 calc(#{$size} - 30px); width: calc(#{$size} - 30px); }
			}

			&auto { flex: 0 0 auto; max-width: none; width: auto;  }
		}
	}
}


//----------------------
// Widths.
//----------------------
.l_w\: {

}


//----------------------
// Max widths.
//----------------------
@each $size in $mw {
	.l_mw\:#{$size} { max-width: #{$size}px; }
}

// breakpoints for max width.
@each $keyword, $size in $bp {
	@include mq($size) {
		.\{#{$keyword}\} {
			@each $size in $mw {
				&l_mw\:#{$size} { max-width: #{$size}px; }
			}
		}
	}
}


//----------------------
// Heights.
//----------------------
.l_h\: {

}


//----------------------
// Margins
//----------------------
// All.
.l_m\: {
	&auto { margin: auto; }
	&0 { margin: 0; }
}

// Top/Bottom.
.l_m\: {
	&1em-x { margin-top: 1em; margin-bottom: 1em; }
}

// Right/Left.
.l_m\:x- {
	&auto { margin-right: auto; margin-left: auto; }
}

.\{lg\}l_m\:x- {
	@include mq(map-get($bp, lg)) {
		&auto { margin-right: auto; margin-left: auto; }
	}
}

// Top.
.l_m-t\:{

}

// Right.
.l_m-r\:{

}

// Bottom.
.l_m-b\: {

}

// Left.
.l_m-l\: {

}


//----------------------
// padding
//----------------------
// All.
.l_p\: {

}

// Top/Bottom.
.l_p\: {
	&1em-x { padding-top: 1em; padding-bottom: 1em; }
}

// Right/Left.
.l_p\:x- {

}

// Top.
.l_p-t\: {

}

// Bottom.
.l_p-b\: {

}

// Right.
.l_p-r\: {

}

// Left.
.l_p-l\: {

}


//----------------------
// Overflow
//----------------------
.l_o\:a { overflow: auto; }
.l_o\:h { overflow: hidden; }
