//-----------------------------------------------------------
// TYPOGRAPHY
//-----------------------------------------------------------
//----------------------
// Font families.
//----------------------
@each $keyword, $family in $fonts {
	.t_f_#{$keyword} { font-family: $family; }
}


//----------------------
// Text colors.
//----------------------
@each $name, $color in $colors {
	@each $number, $shade in $color {
		.t_c\:#{$name}-#{$number},
		.t_h\:#{$name}-#{$number}:hover,
		.u_hp:hover .t_h_#{$name}-#{$number} {
			color: $shade;
		}
	}
}


//----------------------
// Font weights.
//----------------------
@each $weight in $weights {
	.t_w\:#{$weight}{
		font-weight: $weight;
	}
}


//----------------------
// Headings.
//----------------------
h1,
.t_h1 {

}

h2,
.t_h2 {

}

h3,
.t_h3 {

}

h4,
.t_h4 {

}

h5,
.t_h5 {

}

h6,
.t_h6 {

}


//----------------------
// Text transform.
//----------------------
.t_t\:u { text-transform: uppercase; }
.t_t\:n { text-transform: none; }


//----------------------
// Text align.
//----------------------
.t_a\:l { text-align: left; }
.t_a\:r { text-align: right; }
.t_a\:c { text-align: center; }

//----------------------
// Font style.
//----------------------
.t_s\:i { font-style: italic; }
.t_s\:n { font-style: normal; }


//----------------------
// Line heights.
//----------------------
.t_lh\:1\.5 { line-height: 1.5; }
.t_lh\:2 { line-height: 2; }


//----------------------
// Common typography styles.
//----------------------
.t_u {
	border-bottom: 2px solid currentColor;
}


//----------------------
// this class
// should be applied to
// any content coming from
// a wysiwyg
//----------------------
.t_wysiwyg {

	h1,
	h2,
	h3,
	h4,
	h5 {
		&:not(:first-child) { margin-top: 1em; }
		&:not(:last-child) { margin-bottom: 1em; }
	}

	hr {

	}

	mark {
		display: inline-block;
		padding: 0.2em 0.4em;
		background: rgba(yellow, 0.25);
		box-shadow: inset 0 -2px yellow;
	}

	blockquote {
		margin: 1em 0;
	}

	li {
		position: relative;
		margin: 0.5em 30px;

		&:before {
			position: absolute;
			left: -30px;
		}
	}

	ul li:before {
		display: block;
		top: 0.6em;
		width: 5px;
		height: 5px;
		background: currentColor;
		border-radius: 50%;
		content: '';
	}

	ol { counter-reset: olCounter; }

	ol li { counter-increment: olCounter; }

	ol li:before {
		font-style: normal;
		content: counter(olCounter) ".";
	}

	table {
		font-weight: 400;
		table-layout: fixed;
		margin: 1em 0;
		width: 100%;
		border-top: 0;
	}

	th,
	tfoot td,
	thead td {
		font-weight: 400;
	}

	tbody tr:nth-child(even) { background: rgba(black, 0.25); }

	th,
	td { padding: 0.5em 1em; }

	thead th {
		background: rgba(black, 0.5);

		&:not(:last-child) {
			border-right: 1px solid black;
		}
	}

	td:not(:last-child),
	tbody th:not(:last-child) {
		border-right: 1px solid black;
	}

	dt {
		&:after { content: ':'; }
	}

	dd {
		font-weight: 400;
		margin-bottom: 1em;
	}
}
