//-----------------------------------------------------------
// INTERACTIVE
//-----------------------------------------------------------
//----------------------
// Pointer events.
//----------------------
.i_pe\:n { pointer-events: none; }


//----------------------
// Cursor.
//----------------------
.i_c\:p { cursor: pointer; }


//----------------------
// Transition
//----------------------
@each $keyword, $time in $transition-times {
	.i_t\:#{$keyword} { transition: all $time; }
}
