//-----------------------------------------------------------
// INTERACTIVE
//-----------------------------------------------------------
//----------------------
// Pointer events.
//----------------------
.i_pe\:none { pointer-events: none; }


//----------------------
// Cursor.
//----------------------
.i_c\:pointer { cursor: pointer; }


//----------------------
// Transition
//----------------------
@each $keyword, $time in $transition-times {
	.i_t\:#{$keyword} { transition-time: $time; }
}
