# Folders
node_modules
.sass-cache
dev

# Files
wp-config.php
secrets.json

# Globs
**/dist/js/*.min.js
**/source/css/*.css
**/dist/css/*.css
*.DS_Store
*.sketch
*.map
*.psd
*.ai
*.gz
*.br

# Lock Files
**/package-lock.json
**/composer.lock
