//-----------------------------------------------------------
// CONFIG
//-----------------------------------------------------------
//----------------------
// Colors.
//----------------------
// use with color mixin. 400 is default.

// EXAMPLE:
// background: color('grey', 200);
// color: color('grey');

$colors: (
	'white': (
		400: #ffffff
	),

	'black': (
		400: #000000
	),

	'grey': (
		300: #F3F3F3,
		400: #CACACA,
	),

	'red': (
		400: #D0021B,
		500: #880000,
		600: #590000,
	)
);


//----------------------
// Fonts.
//----------------------
$serif-base: 'Georgia', 'Times New Roman', serif;
$sans-base: 'system-ui', 'Arial', sans-serif;
$mono-base: monospace;

$fonts: (
	'sans': unquote("'PLACEHOLDER',") $sans-base,
	'serif': unquote("'PLACEHOLDER',") $serif-base,
	'mono': unquote("'ATC Harris Code',") $mono-base
);

$weights: (
	300,
	400,
	700
);


//----------------------
// Container Sizes.
//----------------------
//----------------------
// Container Sizes.
//----------------------
$flex: (
	320,
);

$mw: (
	320,
	520,
	720,
	1180,
	1440,
);

$cols: (
	sixth: 16.667%,
	quarter: 25%,
	third: 33.33%,
	half: 50%,
	two-thirds: 66.66%,
	three-quarters: 75%,
	full: 100%
);


//----------------------
// Break Points.
//----------------------
$bp: (
	md: 760,
	lg: 980,
	xl: 1280,
	xxl: 1400
);


//----------------------
// Transition time
//----------------------
$transition-times: (
	short: 0.25s,
	reg: 0.5s,
	long: 1s
);
