//-----------------------------------------------------------
// BASE
//-----------------------------------------------------------
body {
	background: white;
	color: black;
	line-height: 1.2;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	transition: all map-get($transition-times, reg);
}

input,
textarea,
select,
label {
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	border: 0;
	border-radius: 0;
	background: transparent;
	box-shadow: none;
}

input,
textarea {
	transition: all map-get($transition-times, short);

	@include placeholderStyles() {
		opacity: 0.5;
	}

	&:focus {
		outline: 0;
	}

	.error & { border-color: red; }
}

button {
	margin: 0;
	padding: 0;
	background: transparent;
	border: 0;
	outline: 0;
	cursor: pointer;
	transition: all map-get($transition-times, reg);
}

.frame {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100vh;

	&.has\:modal {
		overflow: hidden;
		max-height: 100vh;
	}
}

header,
main,
footer {
	width: 100%;
}

main {
	flex: 1 0 auto;
}
